@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


a {
    color: #E85232 !important;
    text-decoration-line: none !important;
}

.bg {
    background-image: url(assets/background.png);
}

.bg-basic {
    background-color: #fafafa;
}

.bg-map {
    background-image: url(assets/map.jpg);
}
.btn {
    border-radius: 20px !important;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-lg {
    padding: 10px 30px;  
}

.fs {
    font-size: small;
}

.btn-light {
    border-color: #3d3c3c;
}

.btn-sm {
    font-size: x-small;
    padding: 0px;
}

.card {
    border: none !important;
}

.shadow {
    border-radius: 25px;
    box-shadow: 3px 3px 3px #3d3c3c;
    margin: 10px auto;
    padding: 10px;
}

.lh-tight {
    line-height: .8em;
}

.img-thumbnail {
    border: none !important;
    height: 30px;
}

.img-fluid {
    min-height: 80px;
    min-width: 80px;
}
.action {
    cursor: pointer;
}
.img-sm {
    max-height: 80px;
    max-width: 80px;
}

.art {
    border-radius: 10px;
    max-height: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 5px #a7a3a3;;
}

.rotateimg {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.img-round {
    background-color: #fff;
    border-radius: 50%;
}

.profile {
    height: 115px;
    width: 115px;
    border-radius: 50%;
}

.profile-lg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #000;
}

.input-b {
    border: none !important;
    border-bottom: 2px solid #E85232 !important;
    background-color: transparent !important;
}

.input-sq {
    border-radius: 0px !important;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.rotate {
    display: block;
    padding: 25px;
    transform: rotate(90deg);
    float: right;
    position: fixed;
    -webkit-transform:
    rotateZ(90deg) rotateX(180deg) rotateY(-180deg)
    scale(-1,-1) 
    translate3d(100%,100%,0);
    transform-origin: 100% 100%;
} 

.navbar {
    padding: .9rem 1rem !important;
    background-color: #0A1B2B !important;
}

/*---------------------------
 to be removed - use for visualizing col position
---------------------------*/
.view {
    border: 2px solid black;
}
/*---------------------------*/

.border-rt {
    border-right: 60px solid #E85232;
}

.line-hr {
    border-bottom: 1px solid #E85232;
}

.line-b {
    border-bottom: 3px solid #E85232;
}
.line-rt {
    border-right: 3px solid #E85232;
}
.line-top {
    border-top: 3px solid #E85232;
}
.line-l {
    border-left: 3px solid #E85232;
}

.blk-b {
    border-bottom: 3px solid #000;
}
.blk-l {
    border-left: 3px solid #000;
}
.blk-top {
    border-top: 3px solid #000;
}
.blk-rt {
    border-right: 3px solid #000;
}

.masonry { /* Masonry container */
    -webkit-column-count: 3;
    -moz-column-count:3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    margin: .5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: .3em;
    font-size: .85em;
}
.item {
    display: inline-block;
    padding: 0 .5em .5em;
    width: 100%;
    transition: 1s ease all;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item img{
    width: 100%; 
    height: auto;
}

/* --------------------------------
to be replaced with images
-----------------------------------*/
.dot {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    display: inline-block;
}

.dot-sm {
    height: 77px;
    width: 77px;
    border-radius: 50%;
    display: inline-block;
}

.block-sm, .img-block {
    height: 110px;
    width: 110px;
}

.img-muted {
    opacity: 70%;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

/*------------------------------------
 - COLOR primary
 ------------------------------------*/
.bg-primary {
    background-color: #E85232 !important;
}
.border-primary {
    border-color: #E85232 !important;
}
.primary-muted {
    color: #E85232;
    opacity: 50%;
}
.btn-primary {
    color: #fff;
    background-color: #E85232;
    border-color: #E85232;
}
.btn-primary:hover {
    color: #fff;
    background-color: #dd3b18;
    border-color: #cf3717;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(232, 82, 50, 0.5);
}
.btn-outline-primary {
    color: #E85232;
    background-color: transparent;
    border-color: #E85232;
}
.list-group-item-primary {
    color: #8f2610;
    background-color: #faddd7;
}
.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #8f2610;
    background-color: #f7c9c0;
}
.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #8f2610;
    border-color: #8f2610;
}
.text-primary {
    color: #E85232 !important;
}
a.text-primary:hover, a.text-primary:focus {
    color: #cf3717 !important;
}
.btn-link {
    color: #E85232;
}
.btn-link:hover {
    color: #E85232;
    text-decoration-line: none;
}
  